prowler==4.4.0 
awscli   #==1.35.8   prowler 4.4.0 depends on botocore==1.35.29 and awscli 1.35.8 depends on botocore==1.35.42, so to solve the dependency conflict.
pydantic   #==2.9.0   prowler 4.4.0 depends on pydantic==1.10.15, so to solve the dependency conflict.
setuptools==75.1.0